
@import"https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";



body{
margin: 0;
padding :0;
background:#a0a0a0;


}

.sign-inbox
{
width: 280px;
height: 280px;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
background:black;
color:white;
border-radius:80px;
}
.sign-inbox h1
{
font-size: 20px;
position:absolute;
top: 9%;
left:55%;
transform:translate(-50%,-50%);
}  





.inbox{
position:absolute;
top:37%;
left:55%;
transform:translate(-50%,-50%);
border-radius:20px;

}

.inbox1{
position:absolute;
top:52%;
left:55%;
transform:translate(-50%,-50%);
border-radius:20px;

}

.btn{

position:absolute;
top:67%;
left:73%;
transform:translate(-50%,-50%);
border-radius:20px;



}


.link{
position:absolute;
top:77%;
left:34%;
transform:translate(-50%,-50%);


}

.link1{

position:absolute;
top:85%;
left:34%;
transform:translate(-50%,-50%);
}
.wire
{
width:2000px;
height:60px;
position: absolute;
top:1%;
left:50%;
transform:translate(-50%,-50%);
background:blue;
}
 .wire h1{
font-size:20ps;
color:white;}
